<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>

<body>
  <header class="page-header" role="banner">
    <div class="inner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.github.repository_url }}" class="btn" target="_blank" style="padding: 1px">
        <img src="images/Emoticons/github.png" alt="geoguessr" style="width: 150px; height: 48px" />
      </a>
      <a href="https://www.linkedin.com/in/robert-sanders516" class="btn" target="_blank">
        Connect on LinkedIn
        <img src="images/Emoticons/linkedin.png" alt="geoguessr" style="width: 30px; padding-left: 5px; vertical-align: sub" />
      </a>
      <a href="mailto:sanders.rob@northeastern.edu" class="btn" target="_blank">Email</a>
    </div>
  </header>

  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="\index">Home</a>
      <a href="\portfolio">Portfolio</a>
      <a href="\projects">Projects</a>
      <a href="\about">About</a>
      <a href="\interests">Interests</a>
    </div>
    
    <span style="font-size:30px;cursor:pointer; padding-left: 2%" onclick="openNav()"><font size="+3">  View Menu</font> &#9776;</span>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("mySidenav").style.paddingLeft = "2%";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("mySidenav").style.paddingLeft = "0%";
    }
    </script>

  <main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <span class="site-footer-credits">This page was created by Robert Sanders</span>
    </footer>
  </main>

  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101213032);</script>
  <script async src="//static.getclicky.com/js"></script>

</body>

</html>